<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
        <h1><span class="logo-text">Pratihar Blogs</span></h1>
        <p>
            Hi i am Srijan Pratihar,4th year BTech student from Jadavpur University,Kolkata. I am a passionate programmer and a quick learner.My interests lie in Web development technologies and machine learning.I also like problem solving which specially involves
            Data structures and algorithms.
        </p>
    </div>
    <!-- Contacts -->
    <div class="contact">
        <span>
            <i class="fas fa-phone"></i>
            +(91) 9749803328
          </span>
        <span>
            <i class="fas fa-envelope"></i>
            
            <a href="mailto:srijanpratihar19@gmail.com">
              srijanpratihar19@gmail.com
            </a>
          </span>

    </div>
    <!-- socials -->
    <div class="socials">
        <a href="https://www.youtube.com/channel/UCT1aZkaOaMtWpJdUr4BBCYQ">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/srijanpratihar19/?igshid=MzNlNGNkZWQ4Mg%3D%3D">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/SrijanPratihar">
            <i class="fab fa-twitter"></i>
        </a>
</footer>